:root{
    --lightModeBackground : hsl(0, 0%, 98%);
    --lightModeElements: hsl(0, 0%, 100%);
    --lightModeInput: hsl(0, 0%, 52%);
    --lightModeText: hsl(200, 15%, 8%);
    --lightModeHover: lightblue;
    --darkModeBackground : hsl(207, 26%, 17%);
    --darkModeElements: hsl(209, 23%, 22%);
    --darkModeInput: hsl(209, 23%, 22%);
    --darkModeText: hsl(0, 0%, 100%);
    --darkModeHover: teal;
    --background : var(--darkModeBackground);
    --elements: var(--darkModeElements);
    --input: var(--darkModeInput);
    --text: var(--darkModeText);
    --hover: var(--darkModeHover); 
    --boxShadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background);
    color: var(--text);
    box-sizing: border-box;
}

body *{
    background-color: var(--elements);
    color: var(--text);
    box-sizing: border-box;
}

nav{
    color: var(--text);
    background-color: var(--elements);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
    padding: 20px;
}

nav span{
    font-weight: 800;
}

nav button{
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

ion-icon{
    color: var(--text);
    font-size: 1.2em;
    /* margin-inline: 5px; */
}

#search-form{
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: space-between;
    /* display: none; */
}

.search-input-wrapper{
    /* margin-bottom: 20px; */
    width: 100%;
    max-width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

#search{
    width: 90%;
    height: 100%;
    padding: 5px 10px;
    border: none;
}

#search::placeholder{
    color: var(--text);
}

#search:focus{
    outline: none;
}

.search-icon{
    width: 10%;
    /* font-size: 1.2em; */
}

.filter-wrapper{
    background-color: transparent;
    width: 100%;
    max-width: 500px;
    height: 50px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#filter{
    box-shadow: var(--boxShadow);
    height: 100%;
    width: 45%;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: var(--text);
}

#filter-dropdown{
    border-radius: 5px;
    position: absolute;
    top: 55px;
    left: 0;
    width: 45%;
    height: fit-content;
    padding: 15px 20px;
    list-style-type: none;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    box-sizing: unset;
    display: none;
}

#filter-dropdown li{
    width: 100%;
    text-align: left;
    padding: 5px;
}

#filter-dropdown li:hover{
    background-color: var(--hover);
}

#sort{
    height: 100%;
    width: 45%;
    box-shadow: var(--boxShadow);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: var(--text);
    position: relative;
}

#sort-dropdown{
    border-radius: 5px;
    position: absolute;
    top: 55px;
    right: 0;
    width: 55%;
    min-width: 250px;
    height: fit-content;
    padding: 15px 20px;
    list-style-type: none;
    flex-flow: column;
    align-items: flex-start;
    box-sizing: unset;
    justify-content: space-evenly;
    display: flex;
    display: none;
}

#sort-dropdown li{
    width: 100%;
    text-align: right;
    padding: 5px;
}

#sort-dropdown li:hover{
    background-color: var(--hover);
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    padding-block: 20px 80px;
    gap: 50px;
    /* position: relative; */
}

.scroll-up{
    position: fixed;
    right: 20px;
    top: 85vh;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: var(--boxShadow);
    display: none;
}

.card{
    max-width: 300px;
    width: 75%;
    border-radius: 5px;
    border: none;
    box-shadow: var(--boxShadow);
    /* display: none; */
}

.img-wrapper{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.text-wrapper{
    height: 200px;
    padding: 10px 30px 30px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.text-wrapper section > div{
    display: flex;
    gap: 10px;
    margin-block: 5px;
}

.text-wrapper div > h4{
    font-weight: 600;
}

.country, .country * {
    background-color: transparent;
}

.country{
    justify-content: center;
    width: 100%;
    height: fit-content;
    flex-flow: column;
    align-items: center;
    padding: 20px 30px;
    gap: 50px;
    display: flex;
    display: none;
}

.back-button-wrapper{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#back-button{
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: var(--elements);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

.country-details-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
    /* background-color: red; */
    min-height: 50vh;
    height: fit-content;
}

.country-flag-wrapper{
    width: 100%;
    max-width: 600px;
    /* height: max(250px, 100%); */
    min-height: 250px;
    /* height: 100%; */
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.country-flag{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country-info-wrapper{
    width: 100%;
    min-height: 45vh;
    padding: 20px;
    flex-grow: inherit;
    max-width: 700px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
    /* background-color: blue; */
}

.country-info-wrapper > h3{
    font-size: 1.5em;
}

.details-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.details-wrapper section{
    width: 100%;
    max-width: 300px;
    gap: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.details-wrapper section div{
    width: 100%;
    display: flex;
    gap: 10px;
}

.disable-wrapping{
    white-space: nowrap;
}

.details-wrapper section div h4{
    font-weight: 600;
}

.border-section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* background-color: palegoldenrod; */
}

.border-heading{
    font-weight: 600;
    font-size: 1.2em;
}

.border-countries-wrapper{
    min-width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    gap: 10px;
}

.border-countries-wrapper button{
    height: 30px;
    width: 100px;
    font-size: .7em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: var(--elements);
    border-radius: 3px;
    box-shadow: var(--boxShadow);
}

/* change autofill background color */
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px var(--elements) inset;
}
